<html>

<head>
    Welcome to Node application. !!
</head>

<body>
    <form action="/postCustomer" method="POST">
        <div>
            <label for="name"> First Name</label>
            <input type="text" name="name" placeholder="first name" />
        </div>
        <br>
        <div>
            <label for="age"> Age</label>
            <input type="text" name="age" placeholder="Enter age" />
        </div>
        <br>
        <button class="btn btn-primary"> Submit</button>
    </form>

</body>

</html>