<!-- <contact-form></contact-form> -->

<!-- <validations></validations> -->
<!-- <assform></assform> -->

<posts></posts>
<!-- <course></course>
<event></event> -->

<!-- <favourite [isFavourite]="post.isFavourite" (change)="onFavouriteChanged($event)"></favourite> -->
<!-- <favourite></!-->


<!-- <div *ngIf="courses.length>0 ; else nocourses">
    List of Courses
</div>

<ng-template #nocourses>
    No Courses Yet <i class=" fa fa-thumbs-down "></i>
</ng-template> -->

<!-- 
<ul>
    <li *ngFor="let course of newCourses; index as i">
        {{course.name}}
    </li>
    <button (click)="onRemove(course)"> Remove</button>
</ul>

<button (click)="onAdd()">Add</button>
<new-favourite></new-favourite> -->